/* General Rules and Resets */
* {
  font-size: inherit;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
}

html {
  background-color: #fefefe;
  box-sizing: border-box;
  font-size: 12px;
}

body {
  font-family: Roboto, Noto, "San Francisco", Ubuntu, "Segoe UI", "Fira Sans",
    message-box, Arial, sans-serif;
  inline-size: 300px;
  max-inline-size: 300px;
}

@media (min-resolution: 1dppx) {
  html {
    font-size: 14px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.hide {
  display: none !important;
}

form {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
}

table {
  border: 0;
  border-spacing: 0;
  inline-size: 100%;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
}

.container {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.01);
  overflow: hidden;
  box-shadow: 0 15px 30px rgba(255, 255, 255, 0.15);
}

.title {
  text-align: center;
  font-size: 1.4em;
  padding: 10px 20px;
  color: white;
  background-color: #2e2e2e;
  background-image: linear-gradient(135deg, #2f2f3d 0%, #305166 100%);
  font-weight: 500;
  letter-spacing: 0.5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

ul {
  list-style: none;
  min-height: 250px;
  background: #1d1d1d;
  overflow: hidden;
  padding: 0 0 15px;
}

li.workspace-list-entry {
  background: rgb(59, 59, 59);
  box-shadow: 0 0 10px rgba(226, 226, 226, 0);
  margin: 15px 20px 0 10px;
  padding: 10px;
  width: calc(100% - 30px);
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.25s ease-out;
  font-size: 0.9em;
  position: relative;
  z-index: 1;
  color: white;
}

li.workspace-list-entry.active::after {
  content: " – active";
  color: rgba(255, 255, 255, 0.63);
}

li.workspace-list-entry:hover {
  background: rgb(87, 87, 87);
  box-shadow: 0 0 10px rgba(226, 226, 226, 0.2);
}

li.workspace-edit-entry {
  background: rgb(59, 59, 59);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin: 15px 20px 0px 10px;
  width: calc(100% - 30px);
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.25s ease-out;
  font-size: 0.8em;
  position: relative;
  z-index: 1;
}

li.workspace-edit-entry input {
  background: rgb(85, 85, 85);
  width: 85%;
  padding: 10px;
  border: 0;
  font-size: 1.1em;
  font-family: inherit;
  color: rgb(255, 255, 255);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

li.workspace-edit-entry input:disabled {
  color: #ffffff;
  background: none;
}

li.workspace-edit-entry a.edit-button {
  position: absolute;
  top: 0px;
  left: 228px;
  height: 35px;
  width: 41px;

  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  background: rgb(59, 59, 59);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

li.workspace-edit-entry a.edit-button-delete {
  background-image: url("../img/delete.svg");
  box-shadow: 0px 0px 8px rgba(243, 243, 243, 0);
  transition: all 0.25s ease-out;
}

li.workspace-edit-entry a.edit-button-delete:hover {
  box-shadow: 0px 0px 5px rgba(243, 243, 243, 0.5);
}

li:only-child.workspace-edit-entry a.edit-button-delete {
  opacity: 0.5;
}

li.workspace-list-entry .tabs-qty,
li.workspace-edit-entry .tabs-qty {
  position: absolute;
  display: inline-block;
  text-align: center;
  top: 0;
  left: 0;
  background-color: #ff9a8b;
  background-image: linear-gradient(90deg, #ff9a8b 0%, #ff6a88 100%);
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 0.875em;
  min-width: 18px;
  padding: 3px 4px;
  top: -5px;
  right: -5px;
  bottom: auto;
  left: auto;
  z-index: 2;
}

.footer-container {
  background-color: #0093e9;
  background-image: linear-gradient(135deg, #2f2f3d 0%, #305166 100%);
}

.footer {
  display: inline-block;
  vertical-align: top;
  padding: 5px 20px;
  background: transparent;
  color: white;
  font-weight: 600;
  font-size: 0.8em;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  transition: all 0.25s ease-out;
}

.footer:hover {
  background: rgba(255, 255, 255, 0.2);
}

.footer.full-width {
  width: 100%;
}

.footer.split-large {
  width: 216px;
}

.footer.split-small {
  width: 40px;
  height: 40px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: none;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.footer.new-btn {
  background-size: 16px;
  background-image: url("../img/create.svg");
}

.footer.clone-btn {
  background-size: 16px;
  background-image: url("../img/copy.svg");
}

.almost-hide {
  font-size: 0;
  line-height: 0;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}